<?xml version="1.0" encoding="ISO-8859-1"?>
<pnml>
    <net id="net" type="https://www.pnml.org">
        <name>
            <text>PetriNet</text>
        </name>
        <page id="Page0">
            <name>
                <text />
            </name>
            {% for place in places %}
            <place id="{{place.id}}">
                <name>
                    <text>{% if place.get_name() != "" %}{{ place.get_name() }}{% else %}P{{ loop.index }}{% endif %}</text>
                </name>
                <toolspecific tool="sketch2pnml" />
                <graphics>
                    <position x="{{place.center.x}}" y="{{place.center.y}}" />
                    <dimension x="{{place.radius * 2}}" y="{{place.radius * 2}}" />
                </graphics>
                <initialMarking>
                    <text>{{place.markers}}</text>
                </initialMarking>
            </place>
            {% endfor %}
            {% for transition in transitions %}
            <transition id="{{transition.id}}">
                <name>
                    <text>{% if transition.get_name() != "" %}{{ transition.get_name() }}{% else %}T{{ loop.index }}{% endif %}</text>
                </name>
                <toolspecific tool="sketch2pnml"></toolspecific>
                <graphics>
                    <position x="{{transition.center.x}}" y="{{transition.center.y}}" />
                    <dimension x="{{transition.width}}" y="{{transition.height}}" />
                </graphics>
            </transition>
            {% endfor %}
            {% for arc in arcs %}
            <arc id="{{arc.id}}" source="{{arc.source.id}}" target="{{arc.target.id}}">
                <toolspecific tool="sketch2pnml" />
                <name>
                    <text>{% if arc.get_name() != "" %}{{ arc.get_name() }}{% else %}T{{ loop.index }}{% endif %}</text>
                </name>
                <arctype>
                    <text>normal</text>
                </arctype>
                <inscription>
                    <text>{{ arc.weight }}</text>
                </inscription>
            </arc>
            {% endfor %}
        </page>
        <finalmarkings>
            <marking></marking>
        </finalmarkings>
    </net>
</pnml>

