{# Jinja2 template for PNML generation #}

<?xml version="1.0" encoding="UTF-8"?>
<pnml xmlns="http://www.pnml.org/version-2009/grammar/pnml">
    <net id="{{ petri_net.id | default('net1') }}" type="http://www.pnml.org/version-2009/grammar/ptnet">
        <name><text>{{ petri_net.name | default('PetriNet') }}</text></name>
        <page id="{{ petri_net.page_id | default('page1') }}">
            {# Iterate through places, transitions, and arcs #}
            {# Example for places: #}
            {# {% for place in petri_net.places %}
                {{ place.to_pnml_xml() }}
            {% endfor %} #}
        </page>
    </net>
</pnml> 